[submodule "Indented.Net.IP"]
	path = Indented.Net.IP
	url = https://github.com/indented-automation/Indented.Net.IP.git
[submodule "cidr-convert"]
	path = cidr-convert
	url = https://github.com/nnovaes/cidr-convert.git
